 <h1> <%= current_user.name %>'s Recipe Index </h1>
<hr>
<div class="row">
<h4><a href="/recipes/new"><i class="material-icons">add_circle</i> Add Recipe</a></h4>
  <% @recipes.each do |recipe|%>
 <div class="card col s12 m7 l4">
    <div class="card-image waves-effect waves-block waves-light grey lighten">
      <img class="activator" src="https://picsum.photos/id/292/200/200">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= recipe.name %><i class="material-icons right">more_vert</i></span>
      <p><a href="/recipes/<%= recipe.id %>">View Recipe</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">More about <%= recipe.name %>  <i class="material-icons right">close</i></span>
      <h6 class="bold">Ingredients: </h6><hr>
      <p><%= recipe.ingredients %></p>     
    </div>
  </div>
 <% end %> 
</div>
